<div class="container">
  <div class="item-1">
    <div class="row">
      <div class="row-item-1">
        <select [(ngModel)]="companyName" (ngModelChange)=setCompanyName()>
          <option *ngFor="let company of companyList">{{company}}</option>
        </select>
      </div>
      <div class="row-item-2">
        <nouislider 
          start=start
          [connect]="true"
          [min]="0"
          [max]="5000"
          [(ngModel)]="range"
          (change)=zoom($event)></nouislider>
      </div>
    </div>
  </div>

  <div class="item-2 candlestick">
    <svg width="1200" height="600"></svg>
  </div>
</div>